body {
  height: 100vh;
  margin: 0;
  text-align: center;
  background-color: #113285;
  background-image: url("texture.png");
  font-family: 'Lato', sans-serif;
  font-display: optional;
}

body::before {
  content: ' ';
  display: inline-block;
  height: 100vh;
  vertical-align: middle; }

.avatar {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 120px;
  height: 120px; }

.avatar img {
  border-radius: 50%;
  box-shadow: 0 0 10px #1c1c1c; }

.link {
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  line-height: 1.8em;
  font-size: 1.3em; }
  .link li {
    text-align: left; }
  .link a {
    text-decoration: none;
    color: #FCFAF2;
    text-shadow: 2px 2px 5px #1c1c1c; }
